.obfuscated-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;

  .warning-text {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    .warning-icon {
      font-size: 30px;
    }
  }
}

.obfuscated-media {
  filter: blur(50px);
}
