.menu-component {
  // display: inline-block; // make the div as wide as its contents
  // background: var(--content-bg);
  box-shadow: 0 5px 10px rgba(black, 0.1);
  border-radius: 5px;

  ul {
    padding: 5px 0;
    margin: 0;
    font-size: 1rem;
  }
}
