.primary-btn {
  $color: #1e7cf7;
  background: $color;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover {
    background: lighten($color, 10);
  }

  &:active {
    background: darken($color, 10);
  }

  &:disabled {
    background: lighten($color, 30);
    cursor: default;
  }
}
