.link-preview-component {
  --border: 1px solid rgba(var(--text-color-rgb), 0.1);

  color: rgba(var(--text-color-rgb), 0.8);
  text-decoration: none;

  .link-bar {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border: var(--border);
    background: rgba(var(--body-bg-color-rgb), 0.5);
    border-radius: 5px;

    .thumbnail {
      text-align: center;
      font-size: 30px;
      border-right: var(--border);
      padding-right: 5px;
    }

    .url {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .rest-url {
        opacity: 0.3;
      }
    }
  }
}
