.comment-component {
  margin-bottom: 20px;

  .comment-info {
    .comment-author {
      margin-right: 1ch;
    }

    .mod {
      color: var(--mod-color);
    }

    .secondary {
      opacity: 0.5;
    }
  }

  & > p:first-child {
    margin-top: 10px;
  }
}
