.header-component {
  background: var(--content-bg);
  border-bottom: 1px solid rgba(var(--text-color-rgb), 0.2);

  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  padding: 0 10px;
  z-index: 99;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  align-items: center;

  font-size: 20px;

  a {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    background: #2793db;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
