.sidebar-link {
  display: block;
  padding: 15px;
  color: inherit;

  &:hover {
    background: var(--primary-color);
    color: white;
  }

  &.active {
    background: var(--primary-light);
    color: var(--primary-color);
    border-right: 5px solid;
  }

  .icon {
    margin-right: 8px;
  }
}
