.post-component {
  margin-bottom: 20px;
  padding: 20px;

  background: var(--content-bg);
  border-radius: 5px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;

  .score {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    .number {
      margin: 5px 0;
    }

    .vote-btn {
      display: block;
    }

    .mod-icon {
      margin-top: 15px;
      color: #21af28;
    }

    .gold-icon {
      margin-top: 15px;
      text-align: center;
      color: darken(gold, 10);
      font-weight: bold;

      .star {
        color: var(--content-bg);
        // transform: scale(0.6);
      }

      .circle {
        color: gold;
      }
    }
  }

  .flair {
    display: inline-block;
    transform: translateY(-1px);
    font-size: 14px;
    font-weight: normal;
    padding: 3px 5px;
    border-radius: 5px;
    color: rgba(var(--text-color-rgb), 0.7);
    background: var(--body-bg);

    &.post {
      margin-right: 7px;
      margin-bottom: 5px;
    }

    &.author {
      margin-left: 7px;
    }

    &.spoiler-flair {
      background: none;
      border: 1px solid;
    }
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .date {
    color: rgba(var(--text-color-rgb), 0.4);
    margin-bottom: 7px;
  }

  .bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;

    .sub {
      // background color set in JS
      padding: 5px 10px;
      color: white;
      display: inline-block;
      border-radius: 20px;
    }

    .comments {
      display: inline-block;
    }
  }

  .content-wrapper {
    margin-bottom: 15px;

    iframe {
      width: 100%;
      max-height: var(--max-content-height);
    }
  }
}
