:root {
  --body-bg-rgb: 239, 243, 245;
  --body-bg: rgb(var(--body-bg-rgb));

  --content-bg-rgb: 255, 255, 255;
  --content-bg: rgb(var(--content-bg-rgb));

  --text-color-rgb: 70, 70, 70;
  --text-color: rgb(var(--text-color-rgb));

  --max-content-height: 85vh;
  --content-padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--body-bg);
  color: var(--text-color);
}

/* temporary */
.post-feed {
  max-width: 650px;
  margin: 20px auto;

  .load-more-btn {
    display: block;
    margin: 0 auto 50px auto;
  }
}

img,
video {
  margin: 0;
  padding: 0;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  outline: none;
}
