body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eff3f5;
}

/* temporary */
.post-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin: 20px auto;
}
