.comment-feed {
  background: var(--content-bg);
  padding: var(--content-padding);
  border-radius: 5px;

  .comment-thread {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}
